//----------------------------------------------------------------------------------------------------------------------
// layers
$layer-the-debugger: 999;
$layer-the-alerts:    99;
$layer-the-navbar:    80;
$layer-context-btn: $layer-the-navbar - 1;
$layer-title:         50;

//----------------------------------------------------------------------------------------------------------------------
// sizes
$base-size: 10px;
$unit: 4em;
$radius: .5em;
$list-font-size: 1.6em;
$list-padding: .5em;
$sheet-music-width: 650px;
$zoom-ratio: 120 / 80; // => ZOOM_RATIO
$ruler-width-nominal: 32px; // => RULER_WIDTH_NOMINAL
$scrollbar-width: 17px; // major browsers on Windows <https://codepen.io/sambible/post/browser-scrollbar-widths>
$controls-height: 40px; // => CONTROLS_HEIGHT
$info-visibility-height: 6em;
$standard-perspective: 1000px;

//----------------------------------------------------------------------------------------------------------------------
// colors
$alert-color: hsl(0, 100%, 50%);
$alert-bg-color: lighten($alert-color, 40%);
$background-color: hsl(0, 0%, 95%);
$drop-shadow-color: transparentize(darken($background-color, 75%), .5);
$border-color: hsl(0, 0%, 60%);
$controls-color: black;
$sidebar-bg-color: white;
$disabled-color: lighten($controls-color, 90%);
$theme-color: hsl(22, 85%, 43%);
$theme-color-data-uri: '%23' + str_slice(#{$theme-color}, 2);
$btn-toggle-bg-color: transparentize($theme-color, .75);
$focus-color: $theme-color;
$focus-bg-color: lighten($disabled-color, 5%);
$list-bg-color: lighten($disabled-color, 5%);
$list-current-bg-color: $list-bg-color; // hsl(60, 100%, 95%);
$list-item-border-color: $disabled-color;
$list-item-border-focus-color: darken($list-item-border-color, 15%);
$list-shadow: 0 0 1em transparentize(darken($disabled-color, 75%), .5);

//----------------------------------------------------------------------------------------------------------------------
// timings
$transition-time-ms: 250ms; // => TRANSITION_TIME_MS
$transition-time-context-ms: 400ms; // => TRANSITION_TIME_CONTEXT_MS

//----------------------------------------------------------------------------------------------------------------------
// selectors
$isIE: 'html[data-browser*="Trident"]'; // [2018-07] IE11 still has about 5% usage

//----------------------------------------------------------------------------------------------------------------------
// functions

// adapted from <https://gist.github.com/tqc/2564280>
@function colorConvertAlpha($colorA, $colorB:white) {
  $hA: hue($colorA);
  $sA: saturation($colorA);
  $lA: lightness($colorA);
  $a: alpha($colorA);
  $hB: hue($colorB);
  $sB: saturation($colorB);
  $lB: lightness($colorB);
  $h: round(((1 - $a) * $hB) + ($a * $hA));
  $s: round(((1 - $a) * $sB) + ($a * $sA));
  $l: round(((1 - $a) * $lB) + ($a * $lA));
  @return hsl($h, $s, $l);
}

@function dataUriSvg($content) {
  @return url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' #{$content}%3C/svg%3E");
}

@function dataUriSvgCursor($content, $hotspot:16 16) {
  @return dataUriSvg("width='32' height='32' viewBox='0 0 32 32'%3E%3C#{$content} /%3E") $hotspot;
}

@function dataUriSvgCursorZoom($content, $hotspot:13 13) {
  @return dataUriSvgCursor("line x1='22' y1='22' x2='29' y2='29' stroke='#{$theme-color-data-uri}' stroke-width='5' stroke-linecap='round' /%3E%3Ccircle cx='13' cy='13' r='11' fill='white' stroke='#{$theme-color-data-uri}' stroke-width='3' /%3E%3C#{$content}", $hotspot);
}

//----------------------------------------------------------------------------------------------------------------------
// cursors and data-uris (uses colors and functions)
// icons sourced from <https://codepen.io/livelysalt/pen/Emwzdj> encoded via <https://yoksel.github.io/url-encoder/>

$cursor-prev: dataUriSvgCursor("path d='M5,16  l  16,-16 2,2 -14,14 14,14 -2,2z' fill='#{$theme-color-data-uri}'");
$cursor-next: dataUriSvgCursor("path d='M27,16 l -16,-16 -2,2 14,14 -14,14 2,2z' fill='#{$theme-color-data-uri}'");

$cursor-zoom:     dataUriSvgCursorZoom("path d='M7,13 a 8 8 0 0 1 6,-6' stroke='#{$theme-color-data-uri}' stroke-width='2' stroke-linecap='round' fill='none'");
$cursor-zoom-in:  dataUriSvgCursorZoom("line x1='8' y1='13' x2='18' y2='13' stroke='#{$theme-color-data-uri}' stroke-width='3' /%3E%3Cline x1='13' y1='8' x2='13' y2='18' stroke='#{$theme-color-data-uri}' stroke-width='3'");
$cursor-zoom-out: dataUriSvgCursorZoom("line x1='8' y1='13' x2='18' y2='13' stroke='#{$theme-color-data-uri}' stroke-width='3'");

$data-uri-img-loading: dataUriSvg("width='200' height='200' viewBox='0 0 200 200'%3E%3Cstyle type='text/css'%3E .c1, .c2 %7B transform-origin: 100px 100px; animation: x 2s ease-out infinite; %7D .c2 %7B animation-delay:-1s; %7D @keyframes x %7B from %7B transform: scale%280%29; opacity:.5; %7D to %7B transform:scale%281.0%29; opacity:0; %7D %7D %3C/style%3E%3Ccircle class='c1' cx='100' cy='100' r='20' fill='black' /%3E%3Ccircle class='c2' cx='100' cy='100' r='20' fill='black' /%3E");
$data-uri-img-error:   dataUriSvg("width='400' height='400' viewBox='-100 -100 400 400'%3E%3Cstyle type='text/css'%3E .sad %3E * %7B transform-origin: 100px 100px; animation: sad 1s ease-in forwards; %7D @keyframes sad %7B from %7B opacity: 0; transform: scale(0); %7D to %7B opacity: 1; %7D %7D .face %3E * %7B opacity: .25; %7D .teardrop %7B transform-origin: 15px 3px; opacity: .25; animation-delay: -1s; animation: t 5s ease-out infinite; %7D @keyframes t %7B from, 40%25 %7B transform: translate(94px, 95px) scale(0); %7D 95%25 %7B transform: translate(94px, 95px) scale(.15); %7D to %7B transform: translate(94px, 140px) scale(.15); %7D %7D text %7B fill: red; font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-anchor: middle; %7D %3C/style%3E%3Cg class='sad'%3E%3Cg class='face'%3E%3Ccircle cx='100' cy='100' r='20' fill='none' stroke='black' stroke-width='4' /%3E%3Ccircle cx='94' cy='95' r='3' fill='black' /%3E%3Ccircle cx='106' cy='95' r='3' fill='black' /%3E%3Cpath d='M 90,109 a 12 12 0 0 1 20,0' stroke='black' stroke-width='2' stroke-linecap='round' fill='none' /%3E%3C/g%3E%3Cpath class='teardrop' fill='black' d='M15 3 Q16.5 6.8 25 18 A12.8 12.8 0 1 1 5 18 Q13.5 6.8 15 3z' /%3E%3Ctext x='100' y='150'%3Eimage failed to load%3C/text%3E%3C/g%3E");
$data-uri-img-audio:   dataUriSvg("viewBox='0 0 18 18'%3E%3Cpath d='M0,6 v6 h4 l5,5 v-16 l-5,5 h-4 z' /%3E%3Cpath d='M13.5,9 c0,-1.8 -1,-3.3 -2.5,-4 v8 c1.5,-0.7 2.5,-2.2 2.5,-4 z' /%3E%3Cpath d='M11,.2 v2 c3,1 5,3.6 5,6.8 s-2,5.8 -5,6.7 v2 c4,-0.8 7,-4.4 7,-8.7 s-3,-8 -7,-8.8 z' /%3E");

//----------------------------------------------------------------------------------------------------------------------
// mixins

@mixin short-transition() {
  transition: all $transition-time-ms ease-in-out;
}

@mixin drop-shadow() {
  box-shadow: 0 0 1em $drop-shadow-color;
}

@mixin one-line-ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin absolute-center($axis:xy, $position:absolute) {
  position: if($axis == fixed, fixed, $position);
  @if ($axis == xy or $axis == fixed) {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  @if ($axis == x) {
    left: 50%;
    transform: translateX(-50%);
  }
  @if ($axis == y) {
    top: 50%;
    transform: translateY(-50%);
  }
}

//----------------------------------------------------------------------------------------------------------------------

@mixin base_styling() {
  html {
    font-size: $base-size;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    min-height: 100%;
    background-color: $background-color;
  }

  // applied to certain elements (e.g. buttons with translated contents) to make Edge consistent with Chrome & Firefox, i.e., avoid flipping translate() values
  .ltr {
    direction: ltr;
  }

  .btn {
    background: none;
    border: none;
    box-sizing: content-box;
    padding: 0;
    width: $unit;
    height: $unit;
    overflow: hidden;
    @include absolute-center(y);
    @include short-transition;

    &:disabled {
      color: $disabled-color;
      pointer-events: none;
    }
    &:not(:disabled) {
      cursor: pointer;
      color: $controls-color;

      &:focus,
      &:hover {
        color: $focus-color;
      }
    }

    &::before {
      z-index: -1;
      content: '';
      @include absolute-center();
      background-color: $focus-bg-color;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      @include short-transition;
      transform: translate(-50%, -50%) scale(0);

      @at-root .controls .btn:focus::before {
        transform: translate(-50%, -50%) scale(1);
      }
    }

    .img-wrapper {
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      img {
        vertical-align: middle;
        width: 100%;
      }
    }

    .img-wrapper::before {
      content: '';
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border: 1px solid transparent;
      @include short-transition;
    }

    svg {
      width: 2.8em;
      height: 2.8em;
      fill: currentColor;
      @include absolute-center();
    }
  } // .btn

  .wrapper-frame::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid $border-color;
  }

  .sidebar {
    box-sizing: border-box;
    background-color: $sidebar-bg-color;
    @include drop-shadow;
    @include short-transition;

    @at-root .no-transition & {
      transition: none;
    }

    &.h {
      @include absolute-center(x);
      height: $unit;
      &.fixed {
        @include absolute-center(x, fixed);
      }
    }

    &.v {
      @include absolute-center(y);
      width: $unit;
      &.fixed {
        @include absolute-center(y, fixed);
      }
    }

    &.top {
      top: 0;
      border-radius: 0 0 $radius $radius;
    }

    &.bottom {
      bottom: 0;
      border-radius: $radius $radius 0 0;
    }

    &.left {
      left: 0;
      border-radius: 0 $radius $radius 0;
    }

    &.right {
      right: 0;
      border-radius: $radius 0 0 $radius;
    }

    &.floating {
      position: absolute;
      height: $unit;
      width: $unit;
      border-radius: 50%;
    }

    @at-root
    .the-item-view &.floating,
    .the-item-view &.h,
    .the-item-view &.v {
      position: absolute;
    }

    * {
      position: absolute;
    }

    :focus {
      outline: none;
    }
  } // .sidebar

} // base-styling()
