$layer-frame-mask: 2; // above both <.frame>s to mask grab zones
$radius-lg: $radius * 2;

.slider {
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  @include short-transition;

  &.no-transition {
    transition: none;
  }

  .frame-mask {
    position: fixed;
    z-index: $layer-frame-mask;

    &.side {
      left: 0;
      right: 0;
      &.above {
        top: 0;
      }
      &.below {
        bottom: 0;
      }
    }

    @at-root
    [data-dir="ltr"] .frame-mask.prev,
    [data-dir="rtl"] .frame-mask.next {
      left: 0;
    }
    @at-root
    [data-dir="ltr"] .frame-mask.next,
    [data-dir="rtl"] .frame-mask.prev {
      right: 0;
    }

    @at-root
    .slider.has-prev .frame-mask.prev,
    .slider.has-next .frame-mask.next,
    [aria-grabbed] .frame-mask {
      display: none;
    }
  } // .frame-mask

  .frame {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    @include short-transition;

    @at-root
    .no-transition#{&} {
      transition: none;
    }
  } // .frame

  .slides {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;

    #{$isIE} & {
      display: inline-block;
    }
    @include short-transition;

    @at-root .no-transition#{&} {
      transition: none;
    }

    cursor: grab;
    #{$isIE} & {
      cursor: move;
    }
    @at-root [aria-grabbed]#{&} {
      cursor: grabbing;
    }
  } // .slides

  .slide {
    position: relative;
    display: inline-block;
    vertical-align: text-top;
    text-align: center;
    background-color: white;
    margin: 0 ($unit * 1/8);

    @at-root
    [data-dir="ltr"] &:first-child,
    [data-dir="rtl"] &:last-child {
      margin-left: 0;
    }

    @at-root
    [data-dir="ltr"] &:last-child,
    [data-dir="rtl"] &:first-child {
      margin-right: 0;
    }

    @include short-transition;

    &:not(.current) {
      opacity: 0.25;
    }

    // prev/next cursors
    @at-root
    [data-dir="ltr"] .slider:not([aria-grabbed]) .slide.before-current,
    [data-dir="rtl"] .slider:not([aria-grabbed]) .slide.after-current {
      cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath d='M5,16 l 16,-16 2,2 -14,14 14,14 -2,2z' fill='#{$theme-color-data-uri}' /%3E%3C/svg%3E") 16 16, grab;
    }
    @at-root
    [data-dir="ltr"] .slider:not([aria-grabbed]) .slide.after-current,
    [data-dir="rtl"] .slider:not([aria-grabbed]) .slide.before-current {
      cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath d='M27,16 l -16,-16 -2,2 14,14 -14,14 2,2z' fill='#{$theme-color-data-uri}' /%3E%3C/svg%3E") 16 16, grab;
    }

    &::before {
      z-index: 1; // make sure it's above <img>
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border: 1px solid hsl(0, 0%, 60%);
    }

    .slide-liner {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      height: 100%;
      overflow: hidden;
    }

    img {
      // icons sourced from <https://codepen.io/livelysalt/pen/Emwzdj> encoded via <https://yoksel.github.io/url-encoder/>
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cstyle type='text/css'%3E .c1, .c2 %7B transform-origin: 100px 100px; animation: x 2s ease-out infinite; %7D .c2 %7B animation-delay:-1s; %7D @keyframes x %7B from %7B transform: scale%280%29; opacity:.5; %7D to %7B transform:scale%281.0%29; opacity:0; %7D %7D %3C/style%3E%3Ccircle class='c1' cx='100' cy='100' r='20' fill='black' /%3E%3Ccircle class='c2' cx='100' cy='100' r='20' fill='black' /%3E%3C/svg%3E") no-repeat center / cover;

      &[data-error] {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='-100 -100 400 400'%3E%3Cstyle type='text/css'%3E .sad %3E * %7B transform-origin: 100px 100px; animation: sad 1s ease-in forwards; %7D @keyframes sad %7B from %7B opacity: 0; transform: scale(0); %7D to %7B opacity: 1; %7D %7D .face %3E * %7B opacity: .25; %7D .teardrop %7B transform-origin: 15px 3px; opacity: .25; animation-delay: -1s; animation: t 5s ease-out infinite; %7D @keyframes t %7B from, 40%25 %7B transform: translate(94px, 95px) scale(0); %7D 95%25 %7B transform: translate(94px, 95px) scale(.15); %7D to %7B transform: translate(94px, 140px) scale(.15); %7D %7D text %7B fill: red; font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-anchor: middle; %7D %3C/style%3E%3Cg class='sad'%3E%3Cg class='face'%3E%3Ccircle cx='100' cy='100' r='20' fill='none' stroke='black' stroke-width='4' /%3E%3Ccircle cx='94' cy='95' r='3' fill='black' /%3E%3Ccircle cx='106' cy='95' r='3' fill='black' /%3E%3Cpath d='M 90,109 a 12 12 0 0 1 20,0' stroke='black' stroke-width='2' stroke-linecap='round' fill='none' /%3E%3C/g%3E%3Cpath class='teardrop' fill='black' d='M15 3 Q16.5 6.8 25 18 A12.8 12.8 0 1 1 5 18 Q13.5 6.8 15 3z' /%3E%3Ctext x='100' y='150'%3Eimage failed to load%3C/text%3E%3C/g%3E%3C/svg%3E");
      }
    }

  } // .slide

  .sidebar {
    z-index: $layer-item-view + 1;
    height: 8em;
    @include short-transition;

    &.disabled {
      pointer-events: none;
      opacity: 0 !important;
    }

    @at-root
    [data-dir="ltr"] &.prev,
    [data-dir="rtl"] &.next {
      left: 0;
      border-radius: 0 $radius-lg $radius-lg 0;
    }

    @at-root
    [data-dir="ltr"] &.next,
    [data-dir="rtl"] &.prev {
      right: 0;
      border-radius: $radius-lg 0 0 $radius-lg;
      svg {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }

    .btn {
      width: 100%;
      height: 100%;
      @include short-transition;

      svg {
        width: 3em;
        height: 6em;
      }
    }
  } // .sidebar

} // .slider
